.idea/*
.github/*
*.aux
*.log
*.out
*.bcf
*.run.xml
job_application_text.txt

*.env
venv/

staticfiles/
media/
latex_workspace/cv_generation/*
**/.terraform/*


db.sqlite3

**/__pycache__/*
**/cache.json
