.idea/*
.github/*
*.aux
*.log
*.out
*.bcf
*.run.xml
job_application_text.txt

*.env
venv/

staticfiles/
media/
latex_workspace/**/*.pdf
latex_workspace/**/*.aux
latex_workspace/**/*.log
latex_workspace/**/*.out


db.sqlite3

