python-linkedin
pydantic
openai
python-dotenv
pandas
loguru

panel
holoviews
bokeh
django
django-ninja
channels
bokeh_django
pdfplumber
mixer
# psycopg2
gunicorn

pytest
pytest-dotenv
pytest-django
pytest-mock
pytest-regressions
django-cors-headers
django-crispy-forms
django-allauth
crispy-bootstrap4