{% extends "base_buildcv.html" %}

{% block nav %}
<li class="nav-item"><a class="nav-link" href="/buildcv/job_posts/">Job Posts</a></li>
<li class="nav-item {% if request.path == '/buildcv/cv/{{ job_post_id }}/manage-summary/' %}active{% endif %}">
    <a class="nav-link" href="buildcv/cv/{{ job_post_id }}/manage-summary/">1. Summary</a>
</li>
<li class="nav-item {% if request.path == 'buildcv/cv/{{ job_post_id }}/content/' %}active{% endif %}">
    <a class="nav-link" href="/buildcv/cv/{{ job_post_id }}/content/">2. Select Content</a>
</li>
<li class="nav-item {% if request.path == 'buildcv/cv/{{ job_post_id }}/' %}active{% endif %}">
    <a class="nav-link" href="/buildcv/cv/{{ job_post_id }}/generate/">3. Generate PDF</a>
</li>
{% endblock %}

{% block content %}
<main class="mt-4">
    {% block cv_content %}
    {% endblock %}
</main>
{% endblock %}

