{% extends "base_progress_build_cv.html" %}
{% load crispy_forms_tags %}

{% block cv_content %}
<div class="container mt-5">
    <header class="major mb-4">
        <h2>Select Content for {{ job_post.job_title }}</h2>
    </header>
    <section>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" name="save_content" class="btn btn-primary mt-3">Save Content</button>
            <button type="submit" name="select_relevant_project" class="btn btn-secondary mt-3">Select Relevant Project</button>
        </form>
    </section>
</div>
{% endblock %}

