{% extends "base_progress_build_cv.html" %}
{% load crispy_forms_tags %}

{% block cv_content %}
<div class="container mt-5">
    <header class="major mb-4">
        <h2>Select Content for {{ job_post.job_title }}</h2>
    </header>
    <section>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 mb-3">
                    <button type="submit" name="select_relevant_content" class="btn btn-secondary">Select Relevant Content</button>
                    <button type="submit" name="save_content" class="btn btn-primary">Save Content</button>
                </div>
                <div class="col-md-6">
                    {{ form.num_projects|as_crispy_field }}
                    {{ form.num_competencies|as_crispy_field }}
                    {{ form.job_positions|as_crispy_field }}
                    {{ form.projects|as_crispy_field }}
                </div>
                <div class="col-md-6">
                    {{ form.educations|as_crispy_field }}
                    {{ form.competencies|as_crispy_field }}
                </div>
            </div>
        </form>
    </section>
</div>
{% endblock %}

