{% extends "base_progress_build_cv.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <header class="mb-4 text-center">
        <h2>Create CV for {{ job_post.job_title }} at {{job_post.company}}</h2>
    </header>
    <section>
        <!-- Form for generating the summary -->
        <div class="mb-4 text-center">
            <form method="post" action="{% url 'generate_summary' job_post.job_post_id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-info">Generate Summary</button>
            </form>
        </div>

        <!-- Form for saving the summary -->
        <div class="card">
            <div class="card-body">
                <form method="post" action="{% url 'manage_summary' job_post.job_post_id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_summary">Summary:</label>
                        {{ form.summary }}
                    </div>
                    <button type="submit" name="manage_summary" value="true" class="btn btn-primary mt-3">Save Summary
                    </button>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock %}


