<!DOCTYPE HTML>
<html>
<head>
    <title>CV builder</title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
</head>
<body>
<div class="container">

    <!-- Header -->
    <header class="bg-primary text-white text-center py-3">
        <h1><a class="text-white" href="/">CV builder</a></h1>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_superuser %}
                    <li class="nav-item"><a class="nav-link active" href="/admin/">Admin</a></li>
                    {% endif %}

                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="/buildcv/">Build CV</a></li>
                    <li class="nav-item"><a class="nav-link" href="/cv_content/">CV content</a></li>
                    <li class="nav-item"><a class="nav-link" href="accounts/profile">Profile</a></li>

                    <li class="nav-item">
                        <form method="post" action="{% url 'account_logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="nav-link btn btn-link">Logout</button>
                        </form>
                    </li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!-- Additional Nav -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light mt-3">
            <div class="collapse navbar-collapse" id="navbarSubNav">
                <ul class="navbar-nav mr-auto">
                    {% block nav %}{% endblock %}
                </ul>
            </div>
        </nav>
    </header>

    <!-- Main Content -->
    <main class="mt-4">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="bg-light text-center py-3 mt-4">
        <ul class="list-inline">
            <li class="list-inline-item"><a href="https://twitter.com/grusinator">Twitter</a></li>
            <li class="list-inline-item"><a href="https://www.facebook.com/william.sandvej.hansen">Facebook</a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/william-sandvej-hansen/">LinkedIn</a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/grusinator">Instagram</a></li>
            <li class="list-inline-item"><a href="https://github.com/grusinator">GitHub</a></li>
            <li class="list-inline-item"><a href="mailto:grusinator@gmail.com">Email</a></li>
        </ul>
    </footer>

</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>
</body>
</html>
